/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------------------------------------------------- */

/* Font Families
font-family: 'Iceberg', cursive;
font-family: 'Tourney', cursive;
*/

/* Colors */
:root {
    --dark-purple: #6F2DBD;
    --light-purple: #A663CC;
    --pallet-purple: #B298DC;
    --pallet-blue: #B8D0EB;
    --light-blue: #B9FAF8;
}


/* Make fonts relative size */

* {
    box-sizing: border-box;
}

body {
    background-color: var(--dark-purple);
    font-family: 'Iceberg', cursive;
    color: var(--light-blue);


}

    /* Content overflow from videos */
html, body {
    overflow-x: hidden;
  }
  body {
    position: relative
  }
  

h1,
h2,
h2,
h4,
h5 {
    font-family: 'Iceberg', cursive;
    margin: 0;
}

/* nav */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav>ul,
nav>h2 {
    width: 500px;
}

nav>h1 {
    font-size: 64px;
}

nav>h2 {
    text-align: center;
    font-size: 36px;
}

nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

nav>ul>li {
    display: inline;
}


/* main */

section {
    height: 100vh;
}

.centerSection {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.centerSection>img {
    max-width: 400px;
    max-height: 400px;
    min-width: 200px;
    min-height: 200px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

#sectionHold {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}

/* Videos */
/* Keep videos absolute but scale size for mobile? */
/* Remove videos based on size so that page doesn't scroll horizontally */
section>video {
    position: absolute;
    border-radius: 10%;
    border: solid var(--light-purple) 5px;
    z-index: 0;

    /* Videos are slightly stretched but cover whole container */
    object-fit: fill;
}

#vid1 {
    left: 200px;
    top: 150px;
}

#vid2 {
    left: 1300px;
    top: 100px;
}

#vid3 {
    left: 1400px;
    top: 300px;
}

#vid4 {
    left: 1200px;
    top: 600px;
}

#vid5 {
    left: 100px;
    top: 450px;

}

#vid6 {
    left: 800px;
    top: 200px;
}

#vid7 {
    left: 400x;
    top: 675px;
}

#vid8 {
    left: 1700px;
    top: 500px;
}

#vid9 {
    left: 250px;
    top: 650px;
}


.sectionText {
    margin: auto;
    padding: 50px 150px;
    text-align: center;
    background-color: var(--light-purple);
    z-index: 1;
    /* This z-index puts it above the videos */
}

.descText {
    max-width: 500px;
    text-align: center;
    margin: 20px auto;
}

section > iframe {
    /* width: 100%;
    max-width: 620px; */
    aspect-ratio: 16/9;
    padding: 0px 15px;
    width: 100%;
    max-width: 900px;
    min-width: 600px;
}

/* footer */

footer>ul {
    list-style-type: none;
    margin: 0 10%;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    body {
    }}

footer>ul>li {
    display: inline;
}

footer {
    background-color: var(--light-purple);
    width: 100%;
    padding: 20px;
}
